.main {
  height: 540px;
  margin-top: -67px;
  margin-left: 35px;
  margin-right: 35px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23000000FF' stroke-width='1' stroke-dasharray='10%2c 3' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 10px;
  padding-top: 112px;
  padding-bottom: 10px;
}

.wip {
  position: absolute;
}

.albatross {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
